@charset "utf-8";
main {

    align-items: center;
}

.site-header {

    .site-titleimg {
        > a {
            color: $text-color;
            text-decoration: none;
        }
    }
    .site-nav {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 90px;
      font-size: 30px;
        > a {
          color: #cccccc;
            &:hover {
                text-decoration: none;
                color: #333333;
            }
            &.active {
                border-bottom: 2px solid #666;
            }
        }
      	.site-titleimg {
          min-height: 150px;
          min-width: 150px;
          left: 50%;
          position: relative;
          transform: translateX(-50%);
        }
    }
}
.posts {
    list-style: none;
    padding: 0;
    > li {
        line-height: 1.75;
        span {
            color: $meta-color;
            margin-right: 1.5rem;
            font-size: $small-font-size;
        }
        a {
            color: $text-color;
            text-decoration: none;
        }
    }
}
.post {
  //centers content
    margin-left: auto;
    margin-right: auto;
    width: 30em;

    .post-header {
        text-align: center;
        font-size: xx-large;
        margin-bottom: 0;
    }
    .post-meta {
        margin: 0;
        text-align: center;
        color: $meta-color;
        font-size: $small-font-size;
    }
}
@media screen and (max-width: 4rem) {
    .site-header {
        .site-title,
        .img{

        }
        .site-nav {
            text-align: center;
        }
    }
}


.slideshow {
  //centers content
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer {

  bottom: 0;
  width: 100%;
}
