<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/ico" href="favicon.ico">
    <title>{{ site.title }}</title>
</head>
<body>
    <main>

        {{ content }}
      </main>
</body>
</html>
